.login-div{
    width:400px;
    margin: auto;
    margin-top:90px;
    border: 1px solid rgb(221, 221, 221);
    padding: 40px;
    /* font-weight: 800;
    font-size: large; */
}
.title{
    color: rgb(94, 94, 253);
    width:fit-content;
    margin: auto;
    font-size: x-large;
    padding-bottom: 40px;
    font-weight: lighter;
}
.quiz{
    padding: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#ques-text{
    font-size: 20px;
}
.form-check-input{
    margin-left: 10px;
    
}
.r_btn{
    margin: 10px 0 10px 0;
    padding: 10px;
}
.next{
    border: none;
    border-radius: 25px;
    padding: 7px 20px 7px 20px;
    background-color: rgb(25, 25, 25);
    transition: all .3s ease;
    color: aliceblue;

}
.next:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.score{
    padding: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}